* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
  transition: background 0.3s, color 0.3s;   
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  padding: 1em 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.menu {
  display: flex;
  list-style: none;
  gap: 3em;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  color: rgb(184, 184, 17);
}


.settingsBox,       /*main class*/
.cartBtn {
  position: fixed;
  top: 0.5em;
}

.settingsBox {
  left: 1.25em;
  height: 6.25em;
}

.cartBtn {
  right: 1.5625em;
  font-size: 1.375em;
}

.cartBtn a {
  color: #fff;
  text-decoration: none;
}

.settingsIcon {
  font-size: 1.3em;
  cursor: pointer;
}

.sideMenu {
  position: fixed;
  top: 3.75em;
  left: 0;
  background: #222;
  color: #fff;
  padding: 1.5625em 1.25em;
  border-radius: 0 0.625em 0.625em 0;
  box-shadow: 0.125em 0 0.5em rgba(0, 0, 0, 0.4);
  opacity: 0;
  transform: translateX(-100%);      /*betkhaleya tetkhabba*/
  transition: transform 0.3s, opacity 0.3s;  /*human readable*/
  width: 15.625em;
  pointer-events: none;            
}

.settingsBox:hover .sideMenu {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;  /*automatic settings popup*/
}

.sideMenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  margin-top: 2.5em;
}

.sideMenu a {
  color: inherit;
  text-decoration: none;
}

.sideMenu a:hover {
color:rgb(184, 184, 17);
}


#modeBtn {
  background: #444;
  color: #fff;
  padding: 0.625em;
  border-radius: 0.375em;
  cursor: pointer;
  width: 100%;
}

#modeBtn:hover {
  background: #666;
}

/* Light Mode */
body.light {            /*javascript*/
  background: #fff;
  color: #000;
}

body.light nav {        /*background of the nav bar white*/
  background: #eee;
}

body.light .menu a,
body.light .settingsIcon,  /*text to be black once light mode*/
body.light .cartBtn a {
  color: #000;
}

body.light .sideMenu {
  background: #f4f4f4;
  color: #111;
}

body.light #modeBtn {
  background: #ddd;
  color: #111;
} 
/* End of ld mode*/


.logo img {
  display: block;
  margin: 4em auto 0;  /*top right&left bottom*/
  width: 5em;
  height: 5em;
}

hr {                /*line below logo*/
  border: none;
  border-top: 0.0625px solid #000;
  margin: 1em 0;
}

.title {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  margin: 1.5em 0;
}


.Mid {
  display: flex;
  align-items: center;
  gap: 3em;
  padding: rem;
  background: #f4f4f4;
  margin-left: 1em;
  margin-right: 1em;
}

.MidText {
  flex: 1;
  margin-left: 1em;
 
}

.MidText h1 {
  font-size: 2.5em;
  margin-bottom: 2em;
  line-height: 1.3;
  
}
.MidImg{
  padding: 1em;
  flex:1;        /*adde space tekhod */
 
}

.MidImg img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.infoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  

}

.infoItem {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.infoItem span {
  color: #4caf50;   /*check*/
  font-size: 1.5em;
}


.brandWrap {
  overflow: hidden;  /*tusal lal ekher tbattel tbayen*/
  width: 100%;
  margin-top: 2em;
}

.brandScroll {
  display: flex;
  gap: 3em;
  animation: scroll 25s linear infinite; 
}

.brandScroll img {
  height: 5em;
  width: auto;
  object-fit: contain;
}

@keyframes scroll {                        /* for animations*/
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }   /*btemshe men l 0 lal -50% (right to left) illusion to reach the half then repeat*/
}

/* Showcase */
.showcase .items {
  display: flex;
  gap: 2em;
  margin: 2em;
  background: #e8e8e8;
  padding: 3em 2em;
}


.showcase .card{
  margin-left:2em;
  margin-right:2em;
}

.card img {
  width: 100%;
  height: 25em;
  object-fit: cover;
}

/* Service */
.service {
  background: whitesmoke;
  margin: 2em;
  text-align: center;
  padding: 1em 0;
}

.service li {
  list-style: none;
  margin: 1em 0;
}

/* Footer */
footer { 
  background-color: black; 
  padding: 10em;
  margin: 0;
  bottom: 0;
  width: 100%; 
    }

.media ul{
   display: flex; 
   list-style: none;
  }
.media img{
   width: 4em;
   height: 4em; 
   gap: 1em; 
  }

footer .Headers{ 
  text-align: left; 
  color: white;
   padding-bottom: 1.5em; 
  }

.footercontainer { 
  display: flex; 
  gap: 4em; 
  justify-content: space-around;
 }
.footercolumn { 
  flex: 1; 
} 

.footercolumn p {
   margin: 0.3em 0;
   line-height: 1.5; 
  }

.footercolumn strong {
   display: block;
    margin-top: 1.5rem;
     font-size: 1.1rem; 
    }

    footer p {
      color: whitesmoke;

  
}
footer .Headers {
  font-size: 2em;
  
}

nav.hidden { transform: translateY(-100%); }
nav.visible { transform: translateY(0); }


